<div class="carte" >
    <div class="carte__tache">
        <div class="carte__tache__titre" >
            <h2>{{tache.tache}}</h2>   
        </div>
        <div class="carte__tache__check" *ngIf="checkTache()" >
            <input style="width:auto" type="checkbox" [checked]="tache.fait" (change)=onStatutTache()>
        </div>
        <div class="carte__tache__details" *ngIf="tache.sousTaches.length>0">
            <button (click)="onDetail()">Sous tâches</button>
        </div>
        <div class="carte__tache__edition">
            <button (click)=onEditerTache()>Modifier</button>
        </div>
        <div class="carte__tache__suppression" >
            <button  (click)=onSupprimerTache()>Supprimer</button>
        </div>
    </div>
    
    <div class="carte__sousTaches" [@openclose]="detail ? 'open' : 'close'">   
        <div class="carte__sousTaches__sousTache" *ngFor="let sousTache of tache.sousTaches; let j=index">
            {{sousTache.tache}}
            <div>
                <input style="width:auto" type="checkbox" [checked]="sousTache.fait" (change)=onStatutSousTache(j)>
            </div>
        </div>
    </div>
    
    <div class="carte_progression" >
        <div #progression class="carte_progression_progress"></div>
    </div>
</div>


